body,
head{
    font-family: $primary-font;
}

.container{
    max-width: 1130px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
.title{
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: $primary-color-4;
}
.title span{
    color: $primary-color-3;
}

