@media (max-width: 1024px){
    .header__feedback{
        display: none;
    }
}
@media (max-width: 768px){
    .header__nav{
        display: none;
    }
    .header__burger-line{
        display: flex;
    }
    .header__nav-burger{
        display: flex;
        .header__menu-list{
            width: 100%;
            height: 100%;
            padding: 200px 50px;
        }
        .header__menu-item{
            display: flex;
            justify-content: flex-end;
        }
        .header__menu-link{
            font-size: 32px;
        }
    }
}