$primary-color-1: #E5E5E5;
$primary-color-2: #1e3685;
$primary-color-3: #0263B2; 
$primary-color-4: #181818; //некоторый текст
$primary-color-5: #B20237; //заголовок в аккардеоне services
$primary-color-6: #f2f8fc; //некоторый фон

$primary-font: 'Play';
