@import "vars";
@import "global";
@import "fonts";

//header

.header{
    background-color: $primary-color-2;

    &__navbar{
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo a{
        color: #fff;
        font-size: 30px;
    }
    &__nav{

    }
    &__menu-list{
        display: flex;
        width: 450px;
        justify-content: space-between;
    }
    &__menu-item{
        // padding-right: 20px;
        position: relative;
    }
    &__menu-item:last-child{
        padding-right: 0px;
    }
    &__menu-link{
        color: #fff;
        font-size: 16px;
        opacity: .7;
        overflow: hidden;
        transition: .4s;
    }
    &__menu-link::before{
        content: '';
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 0;
        height: 1.5px;
        background-color: #fff;
    }
    &__menu-link:hover::before{
        width: 100%;
    }
    &__menu-link:hover,
    &__feedback-text:hover{
        opacity: 1;
    }
    &__menu-link::before{
        transition: 0.35s;
    }
    &__feedback{
        display: flex;
        flex-direction: column;
    }
    &__phone{
        color: #fff;
        font-size: 18px;
        font-weight: 600;
        padding-bottom: 5px;
    }
    &__feedback-text{
        position: relative;
        color: #fff;
        opacity: .7;
        text-align: end;
        transition: .4s;
    }
}

// main
.main{

}

//tariff
.tariff{
    display: flex;
    justify-content: space-between;
    margin-top: 37px;
    &__info{
        padding: 45px 0;
    }
    &__title{
        margin-bottom: 18px;
    }
    &__text{
        font-size: 14px;
        line-height: 24px;
        max-width: 470px;
        margin-bottom: 30px;
    }
    &__btn{
        width: 170px;
        height: 46px;       
        background: #B20237;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        transition: .4s;
        font-size: 16px;
    }
    &__btn:hover{
        background: #f37097;
    }

    &_image{

    }
}

.warning{
    margin-top: 50px;
    &__inner{
        display: flex;
        justify-content: space-between;
    }
    &__item{
    }
    &__info{
        max-width: 380px;
        margin-right: 78px;
    }
    &__title{
        margin-bottom: 57px;
        white-space: nowrap;
    }
    &__texts{
        margin-top: 85px;
    }
    &__text{
        font-size: 16px;
        line-height: 26px;
        max-width: 750px;
        margin-bottom: 20px;
        position: relative;
    }
    &__text:last-child{
        margin-bottom: 0px;
    }
    &__text::after{
        content: '';
        background: url("../images/warning-icon.svg") no-repeat;
        position: absolute;
        top: 4px;
        left: -35px;
        width: 20px;
        height: 20px;
    }
}