@import "vars";
@import "global";
@import "fonts";

//header

.header{
    background-color: $primary-color-2;

    &__navbar{
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo a{
        color: #fff;
        font-size: 30px;
    }
    &__nav{

    }
    &__menu-list{
        display: flex;
        width: 450px;
        justify-content: space-between;
    }
    &__menu-item{
        // padding-right: 20px;
        position: relative;
    }
    &__menu-item:last-child{
        padding-right: 0px;
    }
    &__menu-link{
        color: #fff;
        font-size: 16px;
        opacity: .7;
        overflow: hidden;
        transition: .4s;
    }
    &__menu-link::before{
        content: '';
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 0;
        height: 1.5px;
        background-color: #fff;
    }
    &__menu-link:hover::before{
        width: 100%;
    }
    &__menu-link:hover,
    &__feedback-text:hover{
        opacity: 1;
    }
    &__menu-link::before{
        transition: 0.35s;
    }
    &__feedback{
        display: flex;
        flex-direction: column;
    }
    &__phone{
        color: #fff;
        font-size: 18px;
        font-weight: 600;
        padding-bottom: 5px;
    }
    &__feedback-text{
        position: relative;
        color: #fff;
        opacity: .7;
        text-align: end;
        transition: .4s;
    }
}

// main
.main{

}

//tariff
.tariff{
    display: flex;
    justify-content: space-between;
    margin-top: 37px;
    margin-bottom: 30px;
    &__info{
        padding: 45px 0;
    }
    &__title{
        margin-bottom: 18px;
    }
    &__text{
        font-size: 14px;
        line-height: 24px;
        max-width: 470px;
        margin-bottom: 30px;
    }
    &__btn{
        width: 170px;
        height: 46px;       
        background: #B20237;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        transition: .4s;
        font-size: 16px;
    }
    &__btn:hover{
        background: #f37097;
    }

    &_image{

    }
}

.services {
    // services__accardeon

    &__accardeon{
        display: flex;
    }

    // .services__tab-buttons

    &__tab-buttons {
        max-width: 400px;
        background-color: $primary-color-3;
        color: #fff;
        display: flex;
        flex-direction: column;
        border-radius: 10px 0px 0px 10px;
        padding: 70px 0;
    }

    // .services__tab-button

    &__tab-button {
        margin-bottom: 30px;
        cursor: pointer;
        font-weight: 700;
        font-size: 16px;
        line-height: 26px;
        position: relative;
        padding: 5px 25px 5px 70px;
        transition: .2s;
    }
    &__tab-button:last-child {
        margin-bottom: 0;
    }
    &__tab-button:nth-child(1)::after {
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        top: 8px;
        left: 25px;
        background-image: url('../images/service-icon1.svg');
    }
    &__tab-button:nth-child(1):hover::after {
        content: '';
        background-image: url('../images/service-icon1_active.svg');
    }
    &__tab-button_active:nth-child(1)::after {
        content: '';
        background-image: url('../images/service-icon1_active.svg');
    }
    .active{
        background: $primary-color-6;
        color: $primary-color-3;
    }
    .active::after{
        content: '';
        background-image: url('../images/service-icon1_active.svg');
    }
    &__tab-button:nth-child(2)::after {
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        top: 22px;
        left: 25px;
        background-image: url('../images/service-icon2.svg');
    }
    &__tab-button:nth-child(2):hover::after {
        content: '';
        background-image: url('../images/service-icon2_active.svg');
    }
    &__tab-button_active:nth-child(2)::after {
        content: '';
        background-image: url('../images/service-icon2_active.svg');
    }
    &__tab-button:nth-child(3)::after {
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        top: 22px;
        left: 25px;
        background-image: url('../images/service-icon3.svg');
    }
    &__tab-button:nth-child(3):hover::after {
        content: '';
        background-image: url('../images/service-icon3_active.svg');
    }
    &__tab-button_active:nth-child(3)::after {
        content: '';
        background-image: url('../images/service-icon3_active.svg');
    }
    &__tab-button:nth-child(4)::after {
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        top: 22px;
        left: 25px;
        background-image: url('../images/service-icon4.svg');
    }
    &__tab-button:nth-child(4):hover::after {
        content: '';
        background-image: url('../images/service-icon4_active.svg');
    }
    &__tab-button_active:nth-child(4)::after {
        content: '';
        background-image: url('../images/service-icon4_active.svg');
    }
    &__tab-button:nth-child(5)::after {
        content: '';
        position: absolute;
        width: 20px;
        height: 16px;
        top: 63px;
        left: 25px;
        background-image: url('../images/service-icon5.svg');
    }
    &__tab-button:nth-child(5):hover::after {
        content: '';
        background-image: url('../images/service-icon5_active.svg');
    }
    &__tab-button_active:nth-child(5)::after {
        content: '';
        background-image: url('../images/service-icon5_active.svg');
    }
    &__tab-button:hover{
        background: $primary-color-6;
        color: $primary-color-3;
    }
    &__tab-button_active{
        background: $primary-color-6;
        color: $primary-color-3;
    }

    // .services__tab-content-wrap

    &__tab-content-wrap {
        padding: 20px 70px 20px 30px;
    }

    // .services__tab-content

    &__tab-content {
        background-color: $primary-color-6;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        display: none;
    }

    .tab-content_active{
        display: flex;
    }

    // .services__title

    &__title {
        font-weight: 700;
        font-size: 24px;
        line-height: 26px;
        color: $primary-color-5;
        margin-bottom: 30px;
    }

    // .services__item

    &__item {
        margin-bottom: 20px;
        position: relative;
        padding-left: 30px;
        font-weight: 400;
    }
    &__item:last-child {
        margin-bottom: 0;
    }
    &__item:after{
        content: '';
        position: absolute;
        width: 16px;
        height: 16px;
        top: 0px;
        left: 0px;
        background: url('../images/check.svg') no-repeat;
    }
    &__item_cross:after{
        content: '';
        position: absolute;
        width: 16px;
        height: 16px;
        top: 0px;
        left: 0px;
        background: url('../images/cross.svg') no-repeat;
    }

    // .services__item-content

    &__item-content {
        max-width: 666px;
        border-radius: 10px;
        background-color: #fff;
        padding: 25px;
        font-size: 12px;
        line-height: 22px;
    }
    &__item-content p{
        margin-bottom: 20px;
    }
}

.warning{
    margin-top: 50px;
    margin-bottom: 60px;
    &__inner{
        display: flex;
        justify-content: space-between;
    }
    &__item{
    }
    &__info{
        max-width: 380px;
        margin-right: 78px;
    }
    &__title{
        margin-bottom: 57px;
        white-space: nowrap;
    }
    &__texts{
        margin-top: 85px;
    }
    &__text{
        font-size: 16px;
        line-height: 26px;
        max-width: 750px;
        margin-bottom: 20px;
        position: relative;
        font-weight: 400;
    }
    &__text:last-child{
        margin-bottom: 0px;
    }
    &__text::after{
        content: '';
        background: url("../images/warning-icon.svg") no-repeat;
        position: absolute;
        top: 4px;
        left: -35px;
        width: 20px;
        height: 20px;
    }
}

.faq{
    background: #F2F8FC;
    .accardeon{
        padding: 50px 0;
        &__title{
            margin-bottom: 30px;
        }
        input{
            position: absolute;
            opacity: 0;
            z-index: -1;
        }
        .tabs-inner{
            display: flex;
        }
        .tabs {
            overflow: hidden;
        }
        .tab {
            border-radius: 8px;
            width: 97%;
            color: $primary-color-3;
            line-height: 20px;
            overflow: hidden;
            margin-bottom: 20px;
            &-label {
                display: flex;
                justify-content: space-between;
                padding: 1em;
                background: #fff;
                font-weight: 700;
                font-size: 16px;
                cursor: pointer;
                &:hover {
                    background: #fff;
                }
                &::after {
                    content: "\276F";
                    width: 1em;
                    height: 1em;
                    text-align: center;
                    transition: all .35s;
                }
            }
            &-content {
                max-height: 0;
                max-width: 950px;
                overflow: hidden;
                padding: 0 1em;
                color: $primary-color-4;
                line-height: 20px;
                background: #fff;
                transition: all .35s;
                font-weight: 400;
                font-family: 'Montserrat';
            }
        }
          // :checked
        input:checked {
            + .tab-label {
                background: #fff;
                &::after {
                transform: rotate(90deg);
            }
            }
            ~ .tab-content {
                max-height: 100vh;
                padding: 1em;
            }
        }
    }
}

.footer{
    background-color: $primary-color-2;
    color: #fff;
    &__contacts{
        display: flex;
        justify-content: space-between;
        padding: 40px 0;
        border-bottom: 2px solid rgba(255, 255, 255, 0.3);
        align-items: center;
    }
    &__feedback{
        &-title{
            font-weight: 400;
            margin-bottom: 15px;
        }   
        &-phone{
            font-size: 25px;
            color: #fff;
            position: relative;
        }
        &-phone::before{
            content: '';
            position: absolute;
            left: 0;
            bottom: -2px;
            width: 0;
            height: 1px;
            background-color: #fff;
        }
        &-phone:hover::before{
            width: 100%;
        }
        &-phone:hover{
            opacity: 1;
        }
        &-phone::before{
            transition: .3s;
        }

    }
    &__social{
        &-images{
            display: flex;
        }
        &-title{
            margin-bottom: 15px;
            font-weight: 400;
        }
        &-icon{
            margin-right: 10px;
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: .3s;
        }
        &-icon:last-child{
            margin-right: 0;
        }
        &-icon:hover{
            background: #fff;
            border-radius: 50%;
        }
        &-icon:hover path{
            fill: $primary-color-2;
        }
    }
    &__permission p{
        opacity: .8;
        font-weight: 400;
        max-width: 300px;
        font-size: 12px;
        line-height: 15px;
        font-family: Montserrat;
    }
    &__copy {
        padding: 30px 0 25px 0;
    }
    &__copy p{
        font-weight: 400;
        opacity: .8;
    }
}